# Classifier

In [1]:
import pandas as pd
df = pd.read_csv("HR_comma_sep.csv")
target = ["left"]
categorical_variables = ["sales","salary"]
numerical_variables = list(set(df.columns.values) - set(categorical_variables) - set(target))
from sklearn import preprocessing
def label_encoder(df,column):
    le = preprocessing.LabelEncoder()
    le.fit_transform(df[column])
    ohe = preprocessing.OneHotEncoder()
    temp_array = ohe.fit_transform(df[[column]]).toarray()
    column_names = [column + '_' + str(m) for m in le.classes_]
    return (pd.DataFrame(data=temp_array,columns=column_names))
new_df = df[numerical_variables]
for column in categorical_variables:
    new_df = pd.concat([new_df,label_encoder(df,column)],axis=1)
from sklearn.model_selection import train_test_split
X,X_test,Y,Y_test = train_test_split(new_df,df["left"],test_size=0.3)

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [4]:
model = RandomForestClassifier(n_estimators = 1000, max_depth = 6, min_samples_split = 15)

In [5]:
model.fit(X,Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=6, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=15,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [6]:
Y_pred = model.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score, f1_score

In [9]:
accuracy_score(Y_test,Y_pred)

0.9651111111111111

In [10]:
f1_score(Y_test,Y_pred)

0.9225456339417858

In [11]:
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=6, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=15,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

# Regression

In [12]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [13]:
new_df

,Work_accident,satisfaction_level,number_project,last_evaluation,promotion_last_5years,average_montly_hours,time_spend_company,sales_IT,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0,0.38,2,0.53,0,157,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0,0.80,5,0.86,0,262,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0,0.11,7,0.88,0,272,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0,0.72,5,0.87,0,223,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0,0.37,2,0.52,0,159,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,0.40,2,0.57,0,151,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14995,0,0.37,2,0.48,0,160,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14996,0,0.37,2,0.53,0,143,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14997,0,0.11,6,0.96,0,280,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14998,0,0.37,2,0.52,0,158,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [17]:
import pandas as pd
df2 = pd.read_csv("HR_comma_sep.csv")
target2 = ["satisfaction_level"]
categorical_variables2 = ["sales","salary"]
numerical_variables2 = list(set(df.columns.values) - set(categorical_variables) - set(target2))
from sklearn import preprocessing
def label_encoder2(df,column):
    le2 = preprocessing.LabelEncoder()
    le2.fit_transform(df[column])
    ohe2 = preprocessing.OneHotEncoder()
    temp_array2 = ohe2.fit_transform(df[[column]]).toarray()
    column_names2 = [column + '_' + str(m) for m in le2.classes_]
    return (pd.DataFrame(data=temp_array2,columns=column_names2))
new_df2 = df2[numerical_variables2]
for column in categorical_variables2:
    new_df2 = pd.concat([new_df2,label_encoder2(df2,column)],axis=1)
from sklearn.model_selection import train_test_split
X2,X2_test,Y2,Y2_test = train_test_split(new_df2,df2["satisfaction_level"],test_size=0.3)

In [18]:
new_df2

,Work_accident,left,number_project,last_evaluation,promotion_last_5years,average_montly_hours,time_spend_company,sales_IT,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0,1,2,0.53,0,157,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0,1,5,0.86,0,262,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0,1,7,0.88,0,272,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0,1,5,0.87,0,223,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0,1,2,0.52,0,159,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,1,2,0.57,0,151,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14995,0,1,2,0.48,0,160,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14996,0,1,2,0.53,0,143,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14997,0,1,6,0.96,0,280,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14998,0,1,2,0.52,0,158,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [27]:
model2 = RandomForestRegressor()

In [28]:
model2.fit(X2,Y2)

D:\Gaurav\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [29]:
Y2_pred = model2.predict(X2_test)

In [30]:
from sklearn.metrics import r2_score

In [31]:
r2_score(Y2_test,Y2_pred) #bad

0.47777958620355243